<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="bootstrap/css/docs.css" />
<title>View Requirements of buyers - BuildAssist</title>

</head>
<body>
<!--Header Bar START -->
<!-- Navbar
		================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">BuildAssist</a>
			
          	<div class="nav-collapse collapse">
              <ul class="nav">
                  <li class="divider-vertical"></li>
                  <li><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>				  
				  <li><a href="Deals.html"><i class="icon-shopping-cart icon-white"></i> Deals from Sellers</a></li>
				  <li><a href="View_Buyer_Requirement.html"><i class="icon-eye-open icon-white"></i> View Buyer Requirements & Bid </a></li> 
              </ul>
              <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="MyBuildAssist_Notifications.html"><i class="icon-cog"></i> My BuildAssist</a></li>
                            <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                            <li class="divider"></li>
                            <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
<!--Header Bar END -->
<!--Sub header - START -->
<header id="overview" class="">


  <div class="container-fluid offset1">
    
	<h1>View Buyer Requirements</h1>
    <p class="lead">Bid to fulfill the requirement</p>
  </div>
</header>
<!--Sub Header - END -->
<div class="row-fluid">
	<div class="span10 offset1">

	<!--BREADCRUMB START -->
	
	<ul class="breadcrumb">
	  <li><a href="index.html">Home</a> <span class="divider">/</span></li>
	  <li class="active">View Buyer Requirements</li>
	</ul>
	
	<!--BREADCRUMB END -->
	</div><!--<div class="span10 offset1"> -->
</div><!--<div class="row-fluid"> -->


<div class="row-fluid"  align="center">
<div class="span10 offset1">
  <!--Sidebar content-->
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <li class="active"> <a href="">Cement</a> </li>
      <li> <a href="">Steel</a> </li>
      <li> <a href="">Plywood</a> </li>
      <li> <a href="">Fitting</a> </li>
      <li> <a href="">Ceiling</a> </li>
    </ul>
	
	<!--Action Button Area START -->
   	 <div>
	 	<table>
			<tbody>
				<tr align="center">
					
					<td><a class="btn btn-success" type="button" href="New_Requirement.html">Create a new requirement</button></a>
				</tr>
			</tbody>
		</table>
        
      </div>
	  <!--Action Button Area END -->
	
	
	
	
  </div>
  <!--<div class="span3"> -->
  <!--Body content-START-->
  <div class="span9">
    <!--NAVIGATION BAR start -->
    <div class="navbar navbar-static" id="navbar-example">
      <div class="navbar-inner">
        <div style="width: auto;" class="container">
          <ul role="navigation" class="nav" style="text-align:left">
            <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="drop1">Brands <b class="caret"></b></a>
              <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                <li role="presentation"><a href=" 	" tabindex="-1" role="menuitem">All Brands</a></li>
                <li class="divider" role="presentation"></li>
                <li role="presentation"><a href="" tabindex="-1" role="menuitem">ACC</a></li>
                <li role="presentation"><a href="" tabindex="-1" role="menuitem">Ultratech</a></li>
                <li role="presentation"><a href="" tabindex="-1" role="menuitem">Ambuja/Holcim</a></li>
                <li role="presentation"><a href="" tabindex="-1" role="menuitem">India Cements</a></li>
                <li role="presentation"><a href="" tabindex="-1" role="menuitem">JK Lakshmi</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop2" href="#">Specifications<b class="caret"></b></a>
              <ul aria-labelledby="drop2" role="menu" class="dropdown-menu">
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">All</a></li>
                <li class="divider" role="presentation"></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">OPC 43 Grade</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">OPC 53 Grade</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">OPC 33 Grade</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Portland Pozzolana Cement (PPC)</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Portland Slag Cement</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Sulphate Resisting Portland Cement (SRC)</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">White Cement</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop2" href="#">Deliver before<b class="caret"></b></a>
              <ul aria-labelledby="drop2" role="menu" class="dropdown-menu">
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">All</a></li>
                <li class="divider" role="presentation"></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">1 week</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">2 weeks</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">30 days</a></li>
                <li role="presentation"><a href="#" tabindex="-1" role="menuitem">60 days</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location <b class="caret"></b></a>
              <ul class="dropdown-menu" style="text-align:left">
                <li><a href="#">All</a></li>
                <li class="divider" role="presentation"></li>
                <li><a href="#">Mumbai NorthWest (Goregaon-Dahisar)</a></li>
                <li><a href="#">Mira-Bhyander</a></li>
                <li><a href="#">Vasai-Virar</a></li>
                <li><a href="#">Palghar-Boisar</a></li>
                <li><a href="#">Dahanu-Umbergaon</a></li>
                <li><a href="#">Thane-Bhandup-Mulund</a></li>
                <li><a href="#">Navi Mumbai</a></li>
                <li><a href="#">Bhiwandi-Dombivali</a></li>
              </ul>
              <!--<ul class="dropdown-menu"> -->
            </li>
            <!--<li class="dropdown"> -->
          </ul>
          <!--<ul class="nav pull-right"> -->
          </ul>
        </div>
      </div>
    </div>
    <!--NAVIGATION BAR end -->
    <!--RESULTS START -->
    <div class="mini-layout-body fluid">
      <table class="table">
        <tbody>
          <tr valign="top">
            <td><div><font class="muted">Catagory:</font> Cement</div>
               
              <div><font class="muted">Primary Buyer:</font> atmeyagroup</div>
               
              <div><font class="muted">Deliver Before:</font>1 June 2013</div></td>
            <td><div><font class="muted">Specification:</font>OPC 53 Grade</div>
               
              <div><font class="muted">Reputation of Primary Buyer:</font><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
               
              <div><font class="muted">Site Location of Primary Buyer:</font> Mumbai NW</div></td>
            <td><div><font class="muted">Brand/s: </font>ACC, UltraTech, Ambuja</div>
               
              <div></div>
               
              <div></div></td>
            <td><div><font class="muted">Total Quantity: </font><b>750 Kgs.</b></div>
               
              <div>&nbsp;</div>
               
              <div>
                <a class="btn btn-medium btn-info" type="button" href="Requirement_Details.html">View Details</a>
              </div></td>
          </tr>
          <tr valign="top">
            <td><div><font class="muted">Catagory: </font> Cement</div>
               
              <div><font class="muted">Primary Buyer: </font>maminteriors</div>
               
              <div><font class="muted">Deliver Before:</font>20 May 2013</div></td>
            <td><div><font class="muted">Specification:</font>White Cement</div>
               
              <div><font class="muted">Reputation of Primary Buyer:</font><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
               
              <div><font class="muted">Site Location of Primary Buyer:</font> Mumbai NW</div></td>
            <td><div><font class="muted">Brand/s: </font>Birla, JK Lakshmi</div>
               
              <div></div>
               
              <div></div></td>
            <td><div><font class="muted">Total Quantity: </font><b>50 Kgs.</b></div>
               
              <div>&nbsp;</div>
               
              <div>
                <button class="btn btn-medium btn-info" type="button">View Details</button>
              </div></td>
          </tr>
		  
		  
		    
		  
		  
        </tbody>
      </table>
    </div>
    <!--<div class="mini-layout fluid"> -->
    <!--RESULTS END -->
	<!--Action Button Area START -->
   	 <div>
	 	<table>
			<tbody>
				<tr align="left">
					<td><a class="btn btn-success" type="button" href="New_Requirement.html">Create a new requirement</button></a>
				</tr>
			</tbody>
		</table>
        
      </div>
	  <!--Action Button Area END -->
    
  </div>
  <!--<div class="span9"> -->
  <!--Body content-END-->
</div>
</body>
<script src="bootstrap/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
	$(function(){
		$('#Contact_BA').popover();
				});
</script>

</html>
